<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAB | Home</title>
    <link rel="stylesheet" href="css/index.css">
    <%- include("../components/init.ejs") %>
</head>
<body>
    <%- include("../components/menu_modal.ejs") %>
    <%- include("../components/navbar.ejs") %>
    <div id="landing-blob"></div>
    <div class="center">
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="container">
            <div id="landing">
                <img id="dish" class="slide-left" src="images/dish.png" alt="">
                <div style="width: 40%;">
                    <h1 id="title" class="thailandesa" style="margin: 0;">Biryani Agbiryani</h1>
                    <h2 id="subtitle" class="thailandesa" style="color: var(--primary-500); margin: 0;">Your #1 Indian Restaurant</h2>
                    <p class="fade-in">Experience the vibrant flavors of India, right here in your neighborhood, at Biryani Agbiryani—where every dish tells a story.</p>
                    <div class="gap"></div>
                    <div class="gap"></div>
                    <div id="landing-actions" class="width-100">
                        <a id="order-now" class="button one" href="/cart">Order Now</button>
                        <a id="see-menu" class="button" href="#menu-wrapper">See Menu</a>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <%- include("../components/menu.ejs") %>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
        </div>
    </div>
    <%- include("../components/footer.ejs") %>
    <script>
        ScrollReveal().reveal(".slide-left", {...slideLeft, rotate: {z: 20}})
        ScrollReveal().reveal(".fade-in", {...fadeIn, delay: "600"})
        ScrollReveal().reveal("#title", {...slideUp, delay: "200"})
        ScrollReveal().reveal("#subtitle", {...slideUp, delay: "400"})
        ScrollReveal().reveal("#landing-actions", {...slideUp, delay: "800"})
    </script>
</body>
</html>